.card {
  max-width: 413px;
  position: relative;
}

.card__image {
  height: 413px;
  width: 413px;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__content {
  color: #212121;
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__title {
  font-size: 20px;
  max-width: 350px;
  margin: 0;
  color: #212121;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500;
  line-height: 24px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-button {
  background-image: url(../images/heart.svg);
  height: 20px;
  width: 23px;
  border: none;
  background-color: transparent;
  opacity: 0.5;
  cursor: pointer;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.card__like-button_active {
  background-image: url(../images/Like.svg);
  opacity: 1;
}

.card__like-button:hover {
  opacity: 0.8;
}

.card__delete-button {
  background: url(../images/hoverTrash.svg) center no-repeat;
  background-color: transparent;
  width: 18px;
  height: 19px;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 18px;
  right: 15px;
  padding: 0;
  transition: opacity 0.3s ease;
}

.card__delete-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
    width: 288px;
    font-size: 16px;
  }

  .card__title {
    font-size: 16px;
    max-width: 250px;
  }

  .card__like-button {
    width: 20px;
    height: 18px;
  }
}
