.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
  visibility: hidden;
}

.modal_opened {
  visibility: visible;
}

.modal__container {
  width: 600px;
  min-width: 600px;
  padding: 36px;
  position: relative;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: #fff;
  color: #212121;
}

.modal__close-btn {
  background-color: #fff;
  position: absolute;
  top: 23px;
  right: 23px;
  width: 40px;
  height: 40px;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  z-index: 2;
}

.modal__close-btn:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #212121;
  opacity: 0;
}

.animate-circle:after {
  animation: circleAnimation 0.3s ease-out;
}

.modal__close-btn:active:after {
  animation: circleAnimation 0.3s ease-out;
}

.click-circle {
  position: fixed;
  width: 30px;
  height: 30px;
  border: 2px solid #212121;
  border-radius: 50%;
  opacity: 1;
  transform: translate(-50%, -50%);
  animation: circleAnimation 0.3s ease-out;
  pointer-events: none;
  z-index: 9999;
}

.modal__close-btn img {
  width: 100%;
  height: 100%;
}

.modal__close-btn:hover {
  cursor: pointer;
  opacity: 40%;
}

.modal__title {
  margin: 0 0 32px;
  font-family: "Poppins", Arial, sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 100%;
  color: #212121;
}

.modal__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
  font-family: "Poppins", Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: rgba(33, 33, 33, 0.7);
}

.modal__form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.modal__input {
  padding: 16px 12px;
  margin-bottom: 0;
  font-size: 20px;
  font-family: "Poppins", Arial, sans-serif;
  border-radius: 8px;
  font-weight: 500;
  line-height: 100%;
  color: #212121;
  border: 2px solid rgba(33, 33, 33, 0.4);
}

.modal__input:hover {
  border-color: rgba(33, 33, 33, 1);
}

.modal__input:last-of-type {
  margin-bottom: 32px;
}

.modal__submit-btn {
  width: 156px;
  padding: 18px 0;
  background-color: #212121;
  color: #fcf5e5;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  line-height: 100%;
  font-weight: 500;
  opacity: 0.8;
}

.modal__form:has(input[name="url"]:valid:not(:placeholder-shown)):has(
    input[name="title"]:valid:not(:placeholder-shown)
  )
  .modal__submit-btn {
  opacity: 1;
}

.modal__submit-btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

@keyframes circleAnimation {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 60px;
    height: 60px;
    opacity: 0;
  }
}

@media screen and (max-width: 627px) {
  .modal {
    padding: 10px;
  }

  .modal__container {
    padding: 22px;
  }

  .modal__title {
    font-size: 20px;
    margin: 10px 0 34px;
  }

  .modal__close-btn {
    top: 12px;
    right: 12px;
  }

  .modal__label {
    margin-bottom: 24px;
  }

  .modal__submit-btn {
    width: 100%;
  }
}

#image-modal .modal__container {
  background: transparent;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-width: auto;
  width: auto;
  position: relative;
}

#image-modal .modal__image {
  border-radius: 8px;
  max-width: 75vw;
  max-height: 75vh;
  width: auto;
  height: auto;
  object-fit: contain;
}

#image-modal .modal__caption {
  font-family: "Poppins", Arial, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 15px;
  color: #fff;
  text-align: left;
  margin: 20px 0 0 0;
  border-radius: 8px;
  background-color: #212121;
  padding: 10px;
  width: fit-content;
}

#image-modal .modal__close-btn {
  position: absolute;
  top: 0px;
  right: -45px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 2;
  width: 40px;
  height: 40px;
}

@media screen and (max-width: 580px) {
  #image-modal .modal__container {
    margin: 0 20px;
  }

  #image-modal .modal__image {
    max-width: 90vw;
    max-height: 90vh;
  }

  #image-modal .modal__close-btn {
    top: 10px;
    right: 10px;
  }
}
